<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/vendor/fontawesome.css">
    <link rel="stylesheet" href="../styles/all_new_item.css">    
</head>
<body>
    <main>
        <section class="all-new-items">
            <div class="section-left">
                <div class="categories">
                    <h3>Categories</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="chevron"><i class="fa fa-chevron-right" aria-hidden="true"><a href="">WordPress</a></i></div>
                            <div class="brackets">(150)</div>
                        </li>



                    </ul>
                </div>
                <div class="price-range">
                    <h3>Price Range</h3>
                    <div class="range-slider">
                            
                    </div>
                    <button>
                        <a href="">
                            <i class="fa fa-search" aria-hidden="true">Search</i>
                        </a>
                    </button>
                </div>
                <div class="top-sellers">
                    <div>
                        <div class="part-1">
                            <img src="../img/223123123.png" alt="">
                        </div>
                        <div class="part-2">
                            <div>
                                <h5>
                                    <a href=""> The Post Grid Pro</a>
                                </h5>
                                <h6>WordPress Plugin</h6>
                            </div>
                            <div>
                                <h5>$40</h5>
                            </div>
                        </div>
                        <div class="part-3">
                            <div class="circle"></div>
                            <div>
                                <h6>PsdBosS</h6>
                            </div>
                            <div>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="section-right"></div>
        </section>


    </main>
    
</body>
</html>