<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/all_new_item.css">    
</head>
<body>
    <main>
        <section class="all-new-items">
            <div class="section-left">
                <div class="categories">
                    <h3>Categories</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="chevron"><i class="fa fa-chevron-right" aria-hidden="true"><a href="">WordPress</a></i></div>
                            <div class="brackets">(150)</div>
                        </li>



                    </ul>
                </div>
                <div class="price-range">
                    <h3>Price Range</h3>
                    <div class="range-slider">
                        <input id="input" type="range" min="0" max="100" step="10" value="0">

                    </div>
                    <button class="range-serch">
                        <a href="">
                            <i class="fa fa-search" aria-hidden="true">Search</i>
                        </a>
                    </button>
                </div>
                <div class="top-sellers">
                    <div class="info-block-left">
                        <div class="part-1">
                            <img src="../img/223123123.png" alt="">
                        </div>
                        <div class="part-2">
                            <div>
                                <h5>
                                    <a href=""> The Post Grid Pro</a>
                                </h5>
                                <h6>WordPress Plugin</h6>
                            </div>
                            <h5>$40</h5>
                        </div>
                        <div class="part-3">
                            <div class="circle"></div>
                            <div>
                                <h6>PsdBosS</h6>
                            </div>
                            <div class="stars">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                (05)
                            </div>
                        </div>
                    </div>
                    <div class="info-block-left">
                        <div class="part-1">
                            <img src="../img/223123123.png" alt="">
                        </div>
                        <div class="part-2">
                            <div>
                                <h5>
                                    <a href=""> The Post Grid Pro</a>
                                </h5>
                                <h6>WordPress Plugin</h6>
                            </div>
                            <div>
                                <h5>$40</h5>
                            </div>
                        </div>
                        <div class="part-3">
                            <div class="circle"></div>
                            <div>
                                <h6>PsdBosS</h6>
                            </div>
                            <div class="stars">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="info-block-left">
                        <div class="part-1">
                            <img src="../img/223123123.png" alt="">
                        </div>
                        <div class="part-2">
                            <div>
                                <h5>
                                    <a href=""> The Post Grid Pro</a>
                                </h5>
                                <h6>WordPress Plugin</h6>
                            </div>
                            <div>
                                <h5>$40</h5>
                            </div>
                        </div>
                        <div class="part-3">
                            <div class="circle"></div>
                            <div>
                                <h6>PsdBosS</h6>
                            </div>
                            <div class="stars">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="buttom">
                        <button class="view-all">
                            <a href="">
                                <i class="fa fa-search" aria-hidden="true">View All</i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="section-right">
                <div class="sort-items">
                    <div>
                        <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                    </div>
                    <div>
                        <div>Sort by: New Items</div>
                        <div>
                            <i class="fa fa-sort" aria-hidden="true"></i>
                        </div> 
                    </div>
                    <div>
                        <button> 
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                        </button>
                        <button> 
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="blocks">
                    <div class="block-row">
                        <div class="block-info-right"></div>
                        <div class="block-info-right"></div>
                        <div class="block-info-right"></div>
                    </div>
                    <div class="block-row">
                        <div class="block-info-right"></div>
                        <div class="block-info-right"></div>
                        <div class="block-info-right"></div>
                    </div>
                    <div class="block-row">
                        <div class="block-info-right"></div>
                        <div class="block-info-right"></div>
                        <div class="block-info-right"></div>
                    </div>
                    <div class="block-row">
                        <div class="block-info-right"></div>
                        <div class="block-info-right"></div>
                        <div class="block-info-right"></div>
                    </div>
                </div>
                <div class="next-pages">
                    <nav aria-label="...">
                        <ul class="pagination pagination-lg">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">4</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>


    </main>
    
</body>
</html>