<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/contact.css">
</head>
<body>
    //= components/header.html
    <main>
        <div class="container-fluid">
            <div class="container">
                    <h2>Contact With Us</h2>
                    <div class="map">

                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h3>Our Office Address</h3>
                            <address>PO Box 16122 Collins Street West 
                                Victoria 8007 Australia</address>
                                <h3>Phone</h3>
                                <a href="tel:+61 3 8376 6284">+61 3 8376 6284</a>
                                <h3>E-mail</h3>
                                <a href="mailto:info@foxtar.com">info@foxtar.com</a> 

                        </div>
                        <div class="col-8">
                            <h2>Drop Us A Message </h2>
                            <div class="form-group">
                                <form action="http://ab-w.net/comments.php" method="post" name="commentform" id="commentform">
                                  <input type="text" name="author" id="author" value="" size="25" />

                                  <input type="text" name="email" id="email" value="" size="25" />
                                    
                                    
                                   <textarea name="comment" id="comment" cols="48" rows="8"> </textarea>
                                    
                                    <input name="submit" type="submit" id="submit" value="Отправить" />
                                    
                                    </form>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
       
    </main>
    //= components/footer.html
</body>
</html>