<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <footer>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <h3>About Company</h3>
                        <p>Praesent vel rutrum purus. Nam vel dui eu risus duis dignissim digniSuspen disse.Fusce sit amet urna iat.Praesent vel rutrum purus. </p>
                          <address>PO Box 16122 Collins Street West 
                              Victoria 8007 Australia</address>
                              <a href="tel:+61 3 8376 6284">+61 3 8376 6284</a>
                          </div>
                    <div class="col-3">
                        <h3>Join Our Community </h3>
                        <ul>
                            <li>Home</li>
                            <li>Forums</li>
                            <li>Become an Author</li>
                            <li>Community Meetups</li>
                            <li>Become an Affiliate</li>
                        </ul>
                  </div>
                    <div class="col-3">
                        <h3>Need Help?</h3>
                        <ul>
                            <li>Help Center</li>
                            <li>Foxtar Market Terms</li>
                            <li>Author Terms</li>
                            <li>Foxtar Licenses</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <h3>Follow Us On</h3>
                        <div class="social">
                            <ul>
                                <li><a href="#"><img src="./img/facebook.jpg" alt=""></a></li>
                                <li><a href="#"><img src="./img/twiter.jpg" alt=""></a></li>
                                <li><a href="#"><img src="./img/youtube.jpg" alt=""></a></li>
                                <li><a href="#"><img src="./img/pinterest.jpg" alt=""></a></li>
                                <li><a href="#"><img src="./img/linkedin.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
     </footer>
</body>
</html>