<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Internet-store Home page</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div class="section-1 newTheme-template">

        <div class="container">
        	
        	<h2 class="sectionsTitle">Let’s Check Out Our Newest Release Prodcuts</h2>
        
			<ul class="nav-tabs" id="myTab">
				<li class="nav-item">
                	<a href="" class="nav-link" id="home-tab">All</a>
                </li>
                <li class="nav-item">
                	<a href="" class="nav-link" id="home-tab">WordPress</a>
                </li>
                <li class="nav-item">
                	<a href="" class="nav-link" id="home-tab">Joomla</a>
                </li>
                <li class="nav-item">
                	<a href="" class="nav-link" id="home-tab">Plugins</a>
                </li>
                <li class="nav-item">
                	<a href="" class="nav-link" id="home-tab">Component</a>
                </li>
                <li class="nav-item">
                	<a href="" class="nav-link" id="home-tab">PSD</a>
                </li>
			</ul>
		</div>

    </div>

</body>
</html>