<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Internet-store Home page</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <section class="section-1 newTheme-template">
        <div class="container mb-60">
        	
        	<div class="row justify-content-center">
        	    <h2 class="sectionsTitle">Let’s Check Out Our Newest Release Prodcuts</h2>
                
                <div class="col-7">
                    <ul class="nav-tabs" id="myTab">
                        <li class="nav-item">
                            <a href="" class="nav-link" id="home-tab">All</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" id="home-tab">WordPress</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" id="home-tab">Joomla</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" id="home-tab">Plugins</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" id="home-tab">Component</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" id="home-tab">PSD</a>
                        </li>
                    </ul>
                </div>
                
        	</div>
			
		</div>
        
        <div class="container-fluid mb-80">
            <div class="row allProducts">
                
                <div class="col-3">
                    <div class="products">
                       
                        <img src="../img/product.png" alt="image product">
                        
                        <div class="infoBlock">
                            
                            <div class="path-1">
                                <div class="unit">
                                    <h3>Responsive Mobile APP</h3>
                                    <h4>Site Template</h4>
                                </div>
                                <h3 class="cost">$19</h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-3">
                    <div class="products">
                       
                        <img src="../img/product.png" alt="image product">
                        
                        <div class="infoBlock">
                            
                            <div class="path-1">
                                <div class="unit">
                                    <h3>Responsive Mobile APP</h3>
                                    <h4>Site Template</h4>
                                </div>
                                <h3 class="cost">$19</h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-3">
                    <div class="products">
                       
                        <img src="../img/product.png" alt="image product">
                        
                        <div class="infoBlock">
                            
                            <div class="path-1">
                                <div class="unit">
                                    <h3>Responsive Mobile APP</h3>
                                    <h4>Site Template</h4>
                                </div>
                                <h3 class="cost">$19</h3>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-3">
                    <div class="products">
                       
                        <img src="../img/product.png" alt="image product">
                        
                        <div class="infoBlock">
                            
                            <div class="path-1">
                                <div class="unit">
                                    <h3>Responsive Mobile APP
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </h3>
                                    <h4>Site Template</h4>
                                </div>
                                <h3 class="cost">$19</h3>
                            </div>
                            <div class="path-2">
                                
                                <div class="author">
<!--                                    <img src="./img/" alt="image autor">-->
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    <section class="section-2 weeklyTrending-products">
        <div class="container"></div>
    </section>
    
    <section class="section-3 whyChoose"></section>
    
    <section class="section-4 banner"></section>
    
    <section class="section-5 freeTutorials"></section>
</body>
</html>